<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <title>सूक्तम्</title> -->
    <title>Pronucniation Scorer</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>  
    <h1>Pronunciation Scorer</h1>

    <!-- Buttons and audio -->
    <div class="container">
        <div class="button-container">
            <button id="random_phrase_button">Get a random phrase</button>
            <button id="hear_button">Hear pronunciation</button>
            <button id="record_button" class="green-button">Record</button>
        </div> 
    </div>

    <!-- reference text from files -->
    <div >
        <label for="sanskrit"></label><textarea readonly id="sanskrit" rows="1" cols="25">Sanskrit</textarea>
        <label for="english"></label><textarea readonly id="english" rows="1" cols="25">English</textarea>
    </div>

    <!-- reference textbox -->
    <div class=container id="form_container">
        <form id="ref_text_form">
            <textarea id = "ref_text" rows = "1" cols = "30" name = "reftext" maxlength="160" autofocus placeholder="Enter Reference Text here..."></textarea>
        </form>
        <br>
    </div>
    
    <!-- audio player that pops out after reading text -->
    <div class="center-container" id="phrase">
        <p>Prompt:</p>
    </div>
    <div class="container" id="phrase_loader">
        <div id="loader"></div>
    </div> 

    <!-- recorded audio -->
    <div class="center-container" id="recording">
        <p>Your Audio:</p>
    </div>
    <div class="container" id="record_loader">
        <div id="loader"></div>
    </div>

    <!-- scoring metric chart -->
    <div class="container">
        <div id="metrics" class="animate-bottom">
            <div class=container>
                <div id="summary_table">
                    <table>
                        <tr>
                            <th>Accuracy Score</th>
                            <th>Fluency Score</th>
                            <th>Completeness Score</th>
                            <th>Pronunciation Score</th>
                            <th id="woh">Words Omitted</th>
                            <th id="wih">Extra Words Spoken</th>
                        </tr>
                        <tr>
                            <td id="accuracy_score"></td>
                            <td id="fluency_score"></td>
                            <td id="completeness_score"></td>
                            <td id="pron_score"></td>
                            <td id="words_omitted"></td>
                            <td id="words_inserted"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="container">
                <div id="detailed_table">
                    <table>
                        <tr id="word_row"></tr>
                        <tr id ="phoneme_row"></tr>
                        <tr id ="score_row"></tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
    
    <footer id=footer_alert>Please allow the use of your microphone.</footer>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

</body>


<!-- <head>
    <meta charset="UTF-8">
    <title>सूक्तम्</title>
    <title>Pronucniation Scorer</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
</head>

<body>
    <h1>Pronunciation Scorer</h1>

    <div>
        <button id="start_button">Start recording</button>
        <button id="stop_button" disabled>Stop recording</button>
        <button id="random_button">Get a random phrase</button>
    </div>

    <div>
        <label for="sanskrit"></label><textarea readonly id="sanskrit" rows="1" cols="25">Sanskrit</textarea>
        <label for="english"></label><textarea readonly id="english" rows="1" cols="25">English</textarea>
    </div>

    <div>
        <p>Your Audio:</p>
        <audio controls id="recorded_audio"></audio>
        <p>Prompt:</p>
        <audio controls id="prompted_audio"></audio>
    </div>

    <div class="center-container">
        <button id="score_button">Get my score</button>
        <p>Score:</p>
        <label for="score"></label><textarea readonly class="ta_fs" id="score" rows="5" cols="10"></textarea>
    </div>

</body> -->


</html>
