<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>सूक्तम्</title> -->
    <title>Pronucniation Scorer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>

<body>
    <h1>Pronunciation Scorer</h1>
    <div>
        <button id="start_button">Start recording</button>
        <button id="stop_button" disabled>Stop recording</button>

        <label for="upload_audio_button" class="custom-file-upload">Upload audio file</label>
        <input id="upload_audio_button" type="file" accept="audio/*" />

        <!-- <input type="file" id="audioInput" accept="audio/*"/>
        <button id="upload_audio_button">Upload audio file</button> -->
        <!-- <button id="random_button">Get a Random Phrase</button> -->
    </div>


    <!-- <div> 
        <p>
            <label for="sanskrit"></label><textarea readonly id="sanskrit" rows="1" cols="25">Sanskrit</textarea>
            <label for="english"></label><textarea readonly id="english" rows="1" cols="25">English</textarea>
        </p>
    </div> -->

    <div>
        <p>Your Audio:</p>
        <audio controls id="recorded_audio"></audio>
    </div>


    <!-- <div>
        <p> Prompt: </p>
        <audio controls id="prompted_audio"></audio>
    </div> -->

    <!-- <div id="speechContainer" class="center-container">
        <p>Upload Audio File</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br/>
            <input type="submit" id="submitButton" value="Transcribe" />
        </form>

        {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="speechText">{{ transcript }}</p>
        </div>
        {% endif %}
    </div> -->

    <div id="speechTranscriptContainer" class="center-container">
        <p>Transcript</p>
        <label for="transcript"></label><textarea readonly class="ta_fs" id="transcript" rows="3" cols="30"></textarea>

    </div>


    <br />
    <div class="center-container">
        <button id="score_button">Get my score!</button>
        <p>Score</p>
        <label for="score"></label><textarea readonly class="ta_fs" id="score" rows="5" cols="10"></textarea>
    </div>

</body>




<script type="text/javascript">
    let start_button_element = document.getElementById("start_button");
    let stop_button_element = document.getElementById("stop_button");
    let score_button_element = document.getElementById("score_button");
    // let random_button_element = document.getElementById("random_button");
    // let prompted_audio_element = document.getElementById("prompted_audio");
    let recorded_audio_element = document.getElementById("recorded_audio");
    let uploaded_audio_element = document.getElementById("upload_audio_button");

    let audio_name = '';
    let record = null;
    let audioChunks = []

    score_button_element.onclick = () => {
        $.ajax({
            type: 'GET',
            url: '/get_score/' + audio_name + "/",
            success: function (result) {
                $('#score').val(result);
            }
        });
    };


    stop_button_element.onclick = () => {
        start_button_element.disabled = false;
        stop_button_element.disabled = true;
        record.stop();
    };

    start_button_element.onclick = () => {
        start_button_element.disabled = true;
        stop_button_element.disabled = false;
        audioChunks = [];
        record.start();
    };

    uploaded_audio_element.addEventListener('change', loadAudioFromUpload);


    // random_button_element.onclick = () => {
    //     start_button_element.disabled = false;

    //     $.ajax(
    //         {
    //             type: 'GET',
    //             url: '/get_random_line',
    //             success: function (result) {
    //                 const list = result.split(",");
    //                 $('#sanskrit').val(list[2]);
    //                 $('#english').val(list[1]);
    //                 audio_name = list[0].substring(list[0].indexOf("/") + 1, list[0].lastIndexOf("."));

    //                 fetch('/get_random_audio/' + audio_name)
    //                     .then(res => {
    //                         return res.body.getReader().read().then(result => {
    //                             return result
    //                         });
    //                     })
    //                     .then(data => {
    //                         const blob = new Blob([data.value], { type: "audio/mpeg-3" });

    //                         prompted_audio_element.src = URL.createObjectURL(blob);
    //                         prompted_audio_element.controls = true;
    //                         prompted_audio_element.autoplay = true;
    //                     });
    //             }
    //         }
    //     );
    // };

    function loadAudioFromUpload() {
        const inputElement = document.getElementById("upload_audio_button");
        const file = inputElement.files[0];

        //enabled audio playback
        recorded_audio_element.src = URL.createObjectURL(file);
        recorded_audio_element.controls = true;
        recorded_audio_element.autoplay = false;
    }

    navigator.mediaDevices
    .getUserMedia({ audio: true })
    .then(stream => {
        //create new recorder object
        record = new MediaRecorder(stream);

        //stream data from recorder to list
        record.ondataavailable = e => {
            audioChunks.push(e.data);
            //once recorder is done send data to server
            if (record.state === "inactive") {
                let blob = new Blob(audioChunks, { type: 'audio/mpeg-3' });

                //enabled audio playback
                recorded_audio_element.src = URL.createObjectURL(blob);
                recorded_audio_element.controls = true;
                recorded_audio_element.autoplay = false;

                //create file to send to server
                const form = new FormData();
                form.append('file', blob, audio_name + ".mp3");
                $.ajax({
                    type: 'POST',
                    url: '/save-audio',
                    data: form,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function () {
                        console.log("Data Received!");
                    }
                });
            }
        }
    });


</script>

</html>